.black{
    color: var(--black);
}
.blue{
    color: var(--blue);
}
.grey {
    color: var(--grey);
}
.white{
    color: var(--white);
}

.bold{
    font-weight: 700;
}
.underline {
    text-decoration-line: underline;
}
.bg-black{
    background-color: var(--black);
}
.bg-blue{
    background-color: var(--blue);
}
.bg-grey {
    background-color: var(--grey);
}
.bg-white{
    background-color: var(--white);
}
.bg-beige{
    background-color: var(--beige);
}
.bg-transparent {
    background-color: transparent;
}
.s28{
    font-size: 28px;
    line-height: 33px;
}
.s24{
    font-size: 24px;
    line-height: 28px;
}
.s20{
    font-size: 20px;
    line-height: 23px;
}
.s16{
    font-size: 16px;
    line-height: 19px;
}
.s14{
    font-size: 14px;
    line-height: 16px;
}
.s12{
    font-size: 12px;
    line-height: 14px;
}
.s10{
    font-size: 10px;
    line-height: 12px;
}