:root {
  --black: #2F3035;
  --white: #FFFFFF;
  --blue: #1C62CD;
  --beige: #F0F0F4;
  --grey: #C4C4C4
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li, span, p, div{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  display: block;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
label {
  font-weight: normal;
}
button {
  background: transparent;
  border: none;
  padding: 0;
}
input{
  border: transparent;
}
.body{
  background-color: #fff;
}